body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#searchBox {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

main {
    padding: 20px;
}

#musicPlayerContainer {
    display: flex;
    justify-content: center;
}

audio {
    width: 80%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
